.container {
  width: 800px;
  height: calc(100vh - 120px);
  @media (max-width: 900px) {
    width: 400px;
  }
  @media (max-width: 400px) {
    width: 300px;
  }
}

.link {
  color: #11427d;
  cursor: pointer;
}

.addTodo {
  display: flex;
  justify-content: space-between;
}

.task-input {
  width: 80%;
  min-width: 250px;
  margin-right: 10px;
}

.settings {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.additional {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  mat-form-field {
    margin-right: 10px;
  }
}

mat-form-field {
  min-width: 100px;
}