<div class="container">
<form [formGroup]="todoForm" (ngSubmit)="add()">
  <mat-form-field appearance="standard" class="task-input" >
    <input matInput type="text" formControlName="description" placeholder="Add a task..." />
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Add</button>
  <mat-divider></mat-divider>
  <div class="settings">
    <p class="link" (click)="toggleAdditional()">Additional</p>
    <mat-button-toggle-group [formControl]="view">
      <mat-button-toggle value="inline">inline</mat-button-toggle>
      <mat-button-toggle value="kanban">kanban</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <mat-divider></mat-divider>
  <div class="additional" *ngIf="showAdditional">
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input formControlName="date" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority">
          <mat-option value="default">Default</mat-option>
          <mat-option value="high">High</mat-option>
          <mat-option value="medium">Medium</mat-option>
          <mat-option value="low">Low</mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <mat-divider></mat-divider>
</form>

<div [ngSwitch]="view.value">
  <app-inline-view 
    *ngSwitchCase="'inline'"
    [todoList$]="todoList$" 
    [allTasksCompleted$]="allTasksCompleted$"
    (deleteEvent)="delete($event)"
    (completeEvent)="complete($event)"
  ></app-inline-view>
  <app-kanban-view
    *ngSwitchCase="'kanban'"
    (deleteEvent)="delete($event)"
    (completeEvent)="complete($event)"
  >
  </app-kanban-view>
</div>
</div>