mat-toolbar {
  height: 60px;
}

.spacer {
  flex: 1 1 auto;
}

main {
  height: calc(100vh - 120px);
  overflow-y: auto;
}

mat-sidenav-content {
  height: calc(100vh - 140px);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}