.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  height: 300px;
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

button {
  border: none;
  height: 45px;
  border-radius: 5px;
  background-color: #112c52;
  color: white;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.error {
  color: red;
  font-weight: bold;
  padding-top: 5px;
}

input {
  border: none;
  border-bottom: 2px solid #11427d;
  height: 30px;
  width: 100%;
  font-size: 16px;
}