<div class="container">
  <label>
    Email:
    <input type="email" placeholder="Email" [formControl]="email" required />
    <div class="error" *ngIf="email.errors?.required && email.touched">
      Email is required.
    </div>
    <div class="error" *ngIf="email.errors?.email && email.touched">
      Email is wrong.
    </div>
  </label>
  <label>
    Password:
    <input type="password" placeholder="Password" [formControl]="password" required />
    <div class="error" *ngIf="password.errors?.minlength">
      Password must be at least 6 characters long.
    </div>
    <div class="error" *ngIf="password.errors?.required && password.touched">
      Password is required.
    </div>
  </label>
  <button (click)="logIn()" type="submit" [disabled]="!email || !password">Log In</button>
  <button (click)="signUp()" type="submit" [disabled]="!email || !password">Sign Up</button>
</div>
