.wrapper {
  width: calc(100vw - 10px);
  height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-wrap: wrap;
  background-image: url(../../../assets/background.png);
  background-size: 1000px;
  background-repeat: repeat;
}

.container { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  height: 250px;
  width: 250px;
}
