<div class="wrapper">
  <img src="../../../assets/home.svg" alt="girl" width="50%" height="50%"/>
<mat-card class="container">
  <mat-form-field>
  <mat-label>Email:
  </mat-label>
    <input type="email" matInput placeholder="Email" [formControl]="email" required />
    <mat-error *ngIf="email.errors?.required && email.touched">
      Email is required.
    </mat-error>
    <mat-error *ngIf="email.errors?.email && email.touched">
      Email is wrong.
    </mat-error>
  </mat-form-field>
  <mat-form-field>
  <mat-label>Password:</mat-label>
    <input type="password" matInput placeholder="Password" [formControl]="password" required />
    <mat-error  *ngIf="password.errors?.minlength">
      Password must be at least 6 characters long.
    </mat-error>
    <mat-error *ngIf="password.errors?.required && password.touched">
      Password is required.
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="logIn()" type="submit" [disabled]="!email || !password">Log In</button>
  <button mat-raised-button color="primary" (click)="signUp()" type="submit" [disabled]="!email || !password">Sign Up</button>
  <div *ngIf="error" >{{error}}</div>
</mat-card>
<img src="../../../assets/working-late.svg" alt="girl" width="50%" height="50%"/>
</div>