.container {
  min-width: 800px;
  height: calc(100vh - 190px);
}

.link {
  color: #11427d;
  cursor: pointer;
}

.todoList {
  list-style-type: none;
  padding: 0;
}

.addTodo {
  display: flex;
  justify-content: space-between;
}

.additional {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  border-radius: 5px;
  background-color: #183866;
  color: white;
  padding: 10px;
  margin: 5px;
}

.todoList li p {
  padding: 5px;
}

.todoList li p {
  flex: 1;
}

.todoList li p:first-child {
  flex: 3;
}

.settings-container {
  display: flex;
  justify-content: space-between;
}

.settings {
  background-color: white;
  color: black;
  font-size: 12px;
  margin-left: 5px;
  border-radius: 5px;
}


.task-input, .additional input, .additional select {
  border: none;
  border-bottom: 2px solid #11427d;
  height: 30px;
  width: 80%;
  min-width: 250px;
  font-size: 16px;
}

button {
  border: none;
  height: 45px;
  width: 110px;
  border-radius: 5px;
  background-color: #112c52;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul button {
  font-size: 20px;
  background-color: unset;
  border: none;
  color: white;
  box-shadow: none;
}
