.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.block {
  padding: 10px;
  margin-right: 10px;
  width: 29%;
  min-height: 400px;
}

.high {
  color: red;
}

.medium {
  color: green;
}

.low {
  color: orange;
}

mat-card {
  min-width: 230px;
  margin-bottom: 10px;
}
