<div class="container" cdkDropListGroup>
  <mat-card class="block">
    <mat-card-header>
      <mat-icon mat-card-avatar>priority_high</mat-icon>
      <mat-card-title class="high">High</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
    <app-todo-list 
      [draggable]="true" 
      id="high"
      cdkDropList 
      cdkDropListSortingDisabled 
      [cdkDropListData]="highPriorityTasks$ | async"
      (cdkDropListDropped)="drop($event)" 
      [todoList$]="highPriorityTasks$">
    </app-todo-list>
  </mat-card-content>
  </mat-card>

  <mat-card class="block">
    <mat-card-header>
      <mat-card-title class="medium">Medium</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
  <mat-card-content>
    <app-todo-list 
      [draggable]="true" 
      id="medium"
      cdkDropList 
      cdkDropListSortingDisabled 
      [cdkDropListData]="mediumPriorityTasks$ | async"
      (cdkDropListDropped)="drop($event)" 
      [todoList$]="mediumPriorityTasks$">
    </app-todo-list>
  </mat-card-content>
  </mat-card>


  <mat-card class="block">
    <mat-card-header>
      <mat-icon mat-card-avatar>low_priority</mat-icon>
      <mat-card-title class="low">Low</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
  <mat-card-content>
    <app-todo-list 
      [draggable]="true" 
      id="low"
      cdkDropList 
      cdkDropListSortingDisabled 
      [cdkDropListData]="lowPriorityTasks$ | async"
      (cdkDropListDropped)="drop($event)" 
      [todoList$]="lowPriorityTasks$">
    </app-todo-list>
  </mat-card-content>
  </mat-card>
</div>