<div class="container">
  <mat-card class="block">
    <mat-card-header>
      <mat-icon mat-card-avatar>priority_high</mat-icon>
      <mat-card-title class="high">High</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <app-todo-list [todoList$]="highPriorityTasks$" (deleteEvent)="delete($event)" (completeEvent)="complete($event)">
    </app-todo-list>
  </mat-card>

  <mat-card class="block">
    <mat-card-header>
      <mat-card-title class="medium">Medium</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <app-todo-list [todoList$]="mediumPriorityTasks$" (deleteEvent)="delete($event)" (completeEvent)="complete($event)">
    </app-todo-list>
  </mat-card>


  <mat-card class="block">
    <mat-card-header>
      <mat-icon mat-card-avatar>low_priority</mat-icon>
      <mat-card-title class="low">Low</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <app-todo-list [todoList$]="lowPriorityTasks$" (deleteEvent)="delete($event)" (completeEvent)="complete($event)">
    </app-todo-list>
  </mat-card>
</div>